*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg,blue,black);
    color: yellow;
    font-family:"Poppins",sans-serif;
   min-height: 100vh;
}

 h1 ,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,form button{
    padding: 0.5%;
    font-size:130%;
    background-color: white;
    border: none;
}
form button{
    color: blue;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s case;
}
form button:hover{
    background-color:yellow;
    color: white;
}
.contenaire{
display: flex;
justify-content: center;
align-items: center;
}
.liste{
    min-width: 30%;
    list-style: none;
}
.divconte{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in;
}
.divconte li{
    flex:1;
}
.complet-btn,.complet-sup {
    background: #ffe100;
    color: black;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complet-btn{
    background: rgb(73, 284,73);
}
.fa-trash,.fa-check{
    pointer-events: none;
}
.complet{
    text-decoration:line-through ;
    opacity: 0.5;
}
.fail{
transform: translateY(8rem) rotateZ(20deg);
opacity: 0;
}